<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :用户名 %>
    <%= f.text_field :username, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :验证名 %>
    <%= f.text_field :validname, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :邮箱 %>
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :密码（不少于6位）%>
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :头像 %><br />
    <%= f.file_field :avatar %>
  </div>

  <div class="field">
    <%= f.label :密码确认 %>
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions registration-submit text-center">
    <%= f.submit "搞" %>
  </div>
<% end %>
