<% provide(:page_title, "妖怪") %>
<% provide(:users_active, "highlighted") %>

<div class = "row">
  <div class = "columns large-10"style="padding-bottom:10px;">
    <h2 class="member-index-title mobile-index-title">静如处子</h2>
  </div>
</div>
<div class = "row small-up-3 medium-up-3 large-up-4 user-roll">
  <% @admins.each do |user| %>
  <div class = "column column-block">
    <div class= "user-avatar">
      <%= image_tag user.avatar.url(:thumb) %>
    </div>
    <div class = "user-name">
      <%= user.username %>
    </div>
  </div>
  <% end %>
</div>



<div class = "row">
  <div class = "columns large-10" style="padding-bottom:10px;padding-top:15px;">
    <h2 class="member-index-title mobile-index-title">动如脱兔</h2>
  </div>
</div>
<div class = "row small-up-3 medium-up-3 large-up-4 user-roll">
  <% @users.each do |user| %>
  <div class = "column column-block">
    <div class= "user-avatar">
      <%= image_tag user.avatar.url(:thumb) %>
    </div>
    <div class = "user-name">
      <%= user.username %>
      <% if current_user.admin == true %>
      <span class="validname"><%= user.validname %></span>
      <% end %>
    </div>
  </div>
  <% end %>
</div>
