<%= form_for(post) do |f| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :标题 %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :内容 %>
    <%= f.text_area :content, :class => "tinymce", :rows => 30, :cols => 120 %>
  </div>

  <div class="actions registration-submit text-center">
    <%= f.submit "发"%>
  </div>
<% end %>
