<% provide(:page_title, "铁吧") %>
<% provide(:posts_active, "highlighted") %>

<div class="row non-mobile-show">
  <div class="content-container columns small-11">
    <table>
      <thead>
        <tr>
          <th class="text-center" id="trend-table">
              <%=link_to indexbypop_path do%>
                  <%= fa_icon "sort", text:"跟帖/点赞", right:true %>
              <% end %>
          </th>
          <th class="text-center" id="title-table">
            <%=link_to indexbypost_path do%>
                <%= fa_icon "sort", text:"最新贴文", right:true %>
            <% end %>
          </th>
          <th class="text-center" id="reply-table">
            <%=link_to indexbyreply_path do%>
                <%= fa_icon "sort", text:"最新回复", right:true %>
            <% end %>
          </th>
        </tr>
      </thead>

      <tbody>
        <% @posts.each do |post| %>
        <tr>
          <td>
            <div class="trend-index">
                <strong><%=fa_icon "commenting-o", text:("  " + (post.replies.size+1).to_s) %></strong><br/>
                <br />
                <%= link_to like_post_path(post), method: :put do %>
                  <%=fa_icon "thumbs-up", text:("  " + (post.get_upvotes.size).to_s) %>
                <% end %>
            </div>
          </td>
          <td>
            <div class="post-index">
              <%= link_to post do%>
                <div class="post-avatar">
                  <%= image_tag post.user.avatar.url(:thumb) %>
                </div>
                <div class="post-index-title">
                  <h5>
                    <%= truncate(strip_tags(post.title), length:20)  %>
                    <div class="property-bar">
                      <% if post.jing == true %>
                      <span class="jing-tag" <%= %Q(style=padding-right:0px;) if post.sticky == true %>> 精 </span>
                      <% else %>
                          <% if user_signed_in? %>
                            <% if current_user.admin == true %>
                              <%= link_to jing_post_path(post), method: :put do %>
                                <%=fa_icon "heart"%>
                              <% end %>
                            <% end %>
                          <% end %>
                      <% end %>
                      <% if post.sticky == true %>
                        <span class="ding-tag"> 顶 </span>
                      <% else %>
                        <% if user_signed_in? %>
                          <% if current_user.admin == true %>
                          <%= link_to stick_post_path(post), method: :put do %>
                          <%=fa_icon "toggle-up"%>
                          <% end %>
                          <% end %>
                        <% end %>
                      <% end %>
                    </div>
                </h5>
                  <p class="special-link">
                    <%= link_to post do %>
                    楼主: <%= post.user.username %>  &nbsp 时间: <%= post.created_at.to_s.first(19) %>
                    <% end %>
                  </p>
                </div>
                <div style="clear:both;"></div>
              <% end %>
              <div class="post-index-content">
                <%= truncate(strip_tags(post.content.html_safe), length:140) %>
              </div>
            </div>
          </td>
          <td>
            <div class="reply-index">
              <% temp = post.replies %>
              <% if temp.count == 0 %>
                <div class="reply-avatar">
                  <%= image_tag post.user.avatar.url(:thumb) %>
                </div>
                <div class="reply-latest" style="max-width:100%;">
                  <p>
                    <strong><%= post.user.username %></strong>
                  </p>
                  <p>
                    <%= post.updated_at.to_s.first(19) %>
                  </p>
                </div>
              <% else %>
                <div class="reply-avatar">
                  <%= image_tag temp.first.user.avatar.url(:thumb) %>
                </div>
                <div class="reply-latest" style="max-width:100%;">
                  <p>
                    <strong><%= temp.first.user.username %></strong>
                  </p>
                  <p>
                    <%= temp.first.created_at.to_s.first(19) %>
                  </p>
                </div>
              <div style="clear:both;"></div>
              <% end %>
            </div>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <div class="pagination text-center">
      <%= paginate @posts %>
    </div>
  </div>
  <% if (user_signed_in?) %>
  <div class="columns small-1 right" data-sticky-container>
      <div class="sticky" data-sticky data-top-anchor="header:bottom">
        <a data-open="exampleModal1">
          <div class="control registration-submit">
              <div class="new-button">新</div>
          </div>
        </a>
      </div>
  </div>
  <% end %>
  <% if (user_signed_in?) %>
  <div class="reveal" id="exampleModal1" data-reveal>
    <div class="reveal-title">搞个大新闻？</div>
    <div class="reveal-form">
      <%= render 'form', post: @post %>
    </div>
  </div>
  <% end %>

</div>


<div class="row mobile-show">
  <table class="mobile-filters">
    <thead>
      <tr>
        <th class="text-center" id="trend-table">
            <%=link_to indexbypop_path do%>
                <%= fa_icon "sort-amount-desc", text:"跟帖/点赞" %>
            <% end %>
        </th>
        <th class="text-center" id="title-table">
          <%=link_to indexbypost_path do%>
              <%= fa_icon "sort-amount-desc", text:"最新贴文" %>
          <% end %>
        </th>
        <th class="text-center" id="reply-table">
          <%=link_to indexbyreply_path do%>
              <%= fa_icon "sort-amount-desc", text:"最新回复" %>
          <% end %>
        </th>
      </tr>
    </thead>
  </table>
  <% @posts.each do |post|%>
  <div class="mobile-content-block">
    <div class="post-index">
      <%= link_to post do%>
        <div class="post-avatar">
          <%= image_tag post.user.avatar.url(:thumb) %>
        </div>
        <div class="post-index-title">
          <h5>
            <%= truncate(strip_tags(post.title), length:20)  %>
            <div class="property-bar">
              <% if post.jing == true %>
                <span class="jing-tag" <%= %Q(style=padding-right:0px;) if post.sticky == true %>> 精 </span>
              <% else %>
                  <% if user_signed_in? %>
                    <% if current_user.admin == true %>
                      <%= link_to jing_post_path(post), method: :put do %>
                        <%=fa_icon "heart"%>
                      <% end %>
                    <% end %>
                  <% end %>
              <% end %>
              <% if post.sticky == true %>
                <span class="ding-tag"> 顶 </span>
              <% else %>
                <% if user_signed_in? %>
                  <% if current_user.admin == true %>
                  <%= link_to stick_post_path(post), method: :put do %>
                  <%=fa_icon "toggle-up"%>
                  <% end %>
                  <% end %>
                <% end %>
              <% end %>
            </div>
        </h5>
          <p class="special-link">
            <%= link_to post do %>
            楼主: <%= post.user.username %>  &nbsp 时间: <%= post.created_at.to_s.first(19) %>
            <% end %>
          </p>
        </div>
        <div style="clear:both;"></div>
      <% end %>
      <div class="post-index-content">
        <%= truncate(strip_tags(post.content.html_safe), length:140) %>
      </div>
    </div>
  </div>
  <% end %>
  <div class="pagination text-center">
    <%= paginate @posts %>
  </div>
</div>
<% if (user_signed_in?) %>
<div class="mobile-new-button mobile-show">
  <a href="#mobile-new-form">
    <div class="control registration-submit">
      <div class="new-button">新</div>
    </div>
  </a>
</div>
<% end %>
<% if (user_signed_in?) %>
  <div id="mobile-new-form mobile-show" style="padding-left:3%; padding-right:2%;">
    <%= render 'form', post: @post %>
  </div>
<% end %>
