<% provide(:page_title, "铁吧") %>
<p id="notice"><%= notice %></p>

<div class="row">
  <div class="content-container columns small-11">
    <table>
      <thead>
        <tr>
          <th class="text-center" id="trend-table">
              <%=link_to indexbypop_path do%>
                  <%= fa_icon "sort", text:"跟帖/点赞", right:true %>
              <% end %>
          </th>
          <th class="text-center" id="title-table">
            <%=link_to indexbypost_path do%>
                <%= fa_icon "sort", text:"最新贴文", right:true %>
            <% end %>
          </th>
          <th class="text-center" id="reply-table">
            <%=link_to indexbyreply_path do%>
                <%= fa_icon "sort", text:"最新回复", right:true %>
            <% end %>
          </th>
        </tr>
      </thead>

      <tbody>
        <% @posts.each do |post| %>
        <tr>
          <td>
            <div class="trend-index">
                <%=fa_icon "commenting-o", text:("  " + (post.replies.size+1).to_s) %>
            </div>
          </td>
          <td>
            <div class="post-index">
              <%= link_to post do%>
              <div class="post-avatar">
                <%= image_tag post.user.avatar.url(:thumb) %>
              </div>
              <div class="post-index-title">
                <h5><%= truncate(strip_tags(post.title), length:20)  %></h5>
                <p>楼主: <%= post.user.username %>  &nbsp 时间: <%= post.created_at.to_s.first(19) %></p>
              </div>
              <div style="clear:both;"></div>
              <% end %>
              <div class="post-index-content">
                <%= truncate(strip_tags(post.content.html_safe), length:140) %>
              </div>
            </div>
          </td>
          <td>
            <div class="reply-index">
              <% temp = post.replies %>
              <% if temp.count == 0 %>
                <div class="reply-avatar">
                  <%= image_tag post.user.avatar.url(:thumb) %>
                </div>
                <div class="reply-latest" style="max-width:100%;">
                  <p>
                    <strong><%= post.user.username %></strong>
                  </p>
                  <p>
                    <%= post.updated_at.to_s.first(19) %>
                  </p>
                </div>
              <% else %>
                <div class="reply-avatar">
                  <%= image_tag temp.first.user.avatar.url(:thumb) %>
                </div>
                <div class="reply-latest" style="max-width:100%;">
                  <p>
                    <strong><%= temp.first.user.username %></strong>
                  </p>
                  <p>
                    <%= temp.first.created_at.to_s.first(19) %>
                  </p>
                </div>
              <div style="clear:both;"></div>
              <% end %>
            </div>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>

    <br>

  </div>
  <% if (user_signed_in?) %>
  <div class="columns small-1 right" data-sticky-container>
      <div class="sticky" data-sticky data-top-anchor="header:bottom">
        <a data-open="exampleModal1">
          <div class="control registration-submit">
              <div class="new-button">新</div>
          </div>
        </a>
      </div>
  </div>
  <% end %>
  <% if (user_signed_in?) %>
  <div class="reveal" id="exampleModal1" data-reveal>
    <div class="reveal-title">搞个大新闻？</div>
    <div class="reveal-form">
      <%= render 'form', post: @post %>
    </div>
  </div>
  <% end %>

</div>
