<p id="notice"><%= notice %></p>

<div class="row">
  <div class="columns small-11">
    <div class="post-title">
      <%=@post.user.username%> : <%= @post.title %>
    </div>
    <div class="chat-box">
      <div class="message-box left-img">
        <div class="picture">
          <%= image_tag @post.user.avatar.url(:thumb) %>
          <span class="time">10 mins</span>
        </div>
        <div class="message">
          <span><%= @post.user.username %></span>
          <p><%= @post.content.html_safe %></p>
        </div>
      </div>
      <% @post.replies.each do |reply| %>
        <% if reply.user == @post.user %>
        <div class="message-box left-img">
          <div class="picture">
            <%= image_tag reply.user.avatar.url(:thumb) %>
            <span class="time">2 mins</span>
          </div>
          <div class="message">
            <span><%=reply.user.username%></span>
            <p><%= raw(reply.content) %></p>
          </div>
        </div>
        <% else %>
        <div class="message-box right-img">
          <div class="picture">
            <%= image_tag reply.user.avatar.url(:thumb) %>
            <span class="time">2 mins</span>
          </div>
          <div class="message">
            <span><%=reply.user.username%></span>
            <p><%= reply.content.html_safe %></p>
          </div>
          <div style="clear:both;"></div>
        </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <% if (user_signed_in?) %>
  <div class="columns small-1 right" data-sticky-container>
      <div class="sticky" data-sticky data-top-anchor="header:bottom">
        <a data-open="exampleModal1">
          <div class="control registration-submit">
              <div class="new-button">回</div>
          </div>
        </a>
      </div>
  </div>
  <% end %>
  <% if (user_signed_in?) %>
  <div class="reveal" id="exampleModal1" data-reveal>
    <div class="reveal-title">来批判一番</div>
    <div class="reveal-form">
      <%= render 'replies/form' %>
    </div>
  </div>
  <% end %>
</div>
