<div class="top-bar" id="header" style="margin-bottom:30px;">
  <div class="cover-image">
    <%= link_to root_path do %>
    <div class="tieba-title">
      <h1>SFLS201602均匀加热</h1>
    </div>
    <% end %>
  </div>
  <ul class="menu">
    <li><%= link_to "看贴", root_path,:class=>"highlighted"%></li>
    <li><%= link_to "精品", jingping_path %></li>
    <%if user_signed_in?%>
    <li><%= link_to "相册", xiangce_path %></li>
    <li><%= link_to "投票", toupiao_path %></li>
    <li><%= link_to "成员", userindex_path %></li>
    <% end %>
    <li><%= link_to "关于", about_path %></li>
    <% if user_signed_in?%>
    <li><%= link_to '我的',edit_user_registration_path%></li>
    <li><%= link_to '登出',destroy_user_session_path,:method => :delete%></li>
    <% else %>
    <li><%= link_to '登陆',new_user_session_path%></li>
    <li><%= link_to '注册',new_user_registration_path%></li>
    <% end %>
  </ul>
  <%= link_to root_path do %>
  <div hidden class="header-image"></div>
  <% end %>
</div>
